.modme-id_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 26px 26px 52px #bebebe,
        -26px -26px 52px #ffffff;
}

.modme-form__btn, .check-form__btn {
    font-size: 20px;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.modme-form__input, .check-form__input {
    border-radius: 5px;
    height: 50px;
    outline: none;
}